{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sandstone/bootstrap.min.css">
    <!-- Custom fonts for this template-->
    <link rel ="stylesheet" href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}">
    <link rel ="stylesheet" href="{{ asset('css/sb-admin-2.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
{% endblock %}
{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Créer votre compte!</h1>
                        </div>
                        {% if app.user %}
                            <div class="mb-3 text-center">
                                Vous êtes déja connecté {{ app.user.nom }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                            </div>
                        {% endif %}
                        {{ form_start(registrationForm) }}
                        <div class="user">
                            <div class="form-group">
                                {{ form_row(registrationForm.nom) }}
                                {{ form_row(registrationForm.prenom) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(registrationForm.email) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(registrationForm.formule) }}
                            </div>
                            <div class="form-group">
                                <p class="h3" align="center">{{ captcha }}</p>
                                <p class="h3" align="center" style="color: red">{{ error }}</p>
                                {{ form_row(registrationForm.captcha,
                                    {'attr': {'placeholder': 'saisir le captcha :'

                                    }}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(registrationForm.plainPassword.first) }}
                                <div id="exampleRepeatPassword">
                                    {{ form_row(registrationForm.plainPassword.second) }}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block mt-5">
                                Créer votre compte
                            </button>
                            <hr>
                        </div>
                        {{ form_end(registrationForm) }}
                        <div class="text-center">
                            <a class="small" href="{{ path('app_login') }}">Déjà un compte, connectez vous ici!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
