
{% block body %}
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('home') }}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fa fa-hdd"></i>
            </div>
            <div class="sidebar-brand-text mx-3">AzZTECH StockaGE</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">



        <!-- Heading -->
        <div class="sidebar-heading h3">
            <p  align="center">
                {{ taille_disponible }} / {{taille_formule }}  M0
            </p>
        </div>
        {% for dossier in dossiers%}
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#{{ dossier }}"
               aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>
                    {{ dossier }}</span>
            </a>
            <div id="{{ dossier }}" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white">
                    {% for sousdossier in dossier.dossiers %}
                        <div class="collapse-header">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#{{ sousdossier }}"
                               aria-expanded="true" aria-controls="collapsePages">
                                <i class="fas fa-fw fa-folder"></i>
                                <span>
                                  {{ sousdossier }}
                                </span>
                            </a>
                        </div>
                        {% for dossier in sousdossier %}
                            <a class="collapse-item" href="login.html">{{ dossier }}</a>
                         {% endfor %}
                        {% for fichier in sousdossier.fichiers %}
                            <a class="collapse-item" href="login.html">{{ fichier.libelle }}</a>
                         {% endfor %}

                    {% endfor %}
                </div>
            </div>
        </li>
        {% endfor %}
        {% for fichier in fichiers%}
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link " href="#">
                <i class="fas fa-fw fa-file"></i>
                <span>
                    {{ fichier.libelle }}</span>
            </a>
        </li>
        {% endfor %}
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->
{% endblock %}
