
{% block body %}
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('home') }}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fa fa-hdd"></i>
            </div>
            <div class="sidebar-brand-text mx-3">AzZTECH StockaGE</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Heading -->
        {% set values =   taille_disponible*100/taille_formule %}
        <div class="sidebar-heading h3">
            <h4 class="small font-weight-bold">
                <span class="float-right">
                    {{ values }}%
                </span>
            </h4><br>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated
                    {% set values =   taille_disponible*100/taille_formule %}
                    {% if  values>26 and values<70  %}
                    bg-warning
                    {% elseif values <25 %}
                    bg-danger
                    {% else %}
                     bg-success
                    {% endif %}
                   " role="progressbar" style="width: {{ taille_disponible*100/taille_formule }}%"
                     aria-valuenow={{ taille_disponible }} aria-valuemin="0" aria-valuemax="{{taille_formule }}" title="il vous reste {{ taille_disponible }}Mo"
                {% if taille_disponible<=0 %} onload="modifier_formule()"{% endif %}></div>
            </div>
            </p>
            <p align="center"> Disponible</p>
        </div>
        <!-- Nav Item - Pages Collapse Menu -->

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->
{% endblock %}
