<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block body %}
    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    <i class="fas fa-bell fa-fw" style="font-size:30px;"></i>
                    <!-- Counter - Alerts -->
                    {% for email in app.user.emails%}
                        {% if  email.statut !=true%}
                        <span class="badge badge-danger badge-counter">+</span>
                        {% endif %}
                    {% endfor %}
                </a>
                <!-- Dropdown - Alerts -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="alertsDropdown">
                    <h6 class="dropdown-header">
                        Emails Center
                    </h6>

                    {% for email in  app.user.emails %}
                        {% if email.statut != true %}
                                    <a class="dropdown-item d-flex align-items-center" href="{{ path('email_show', {'id': email.id}) }}">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-primary">
                                            <i class="fas fa-user-secret"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">{{ email.date }}</div>
                                            <span class="font-weight-bold">{{ email.message }}!</span>
                                        </div>
                                    </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
            <!-- Nav Item - Formules -->
            <li class="nav-item mx-1" >
                <a class="nav-link overflow-auto" href="" title="Modifier la formule" data-toggle="modal" data-target="#formuleModale">
                    <i class="fas fa-clipboard-list fa-fw" style="font-size:30px"></i>
                </a>
            </li>
            {% if is_granted( 'ROLE_ADMIN') %}
                <!-- Nav Item - list users -->
                <li class="nav-item no-arrow mx-1" >
                    <a class="nav-link overflow-auto" href="{{ path('user_index') }}" title="liste des utlisateurs">
                        <i class="fas fa-user-friends fa-fw" style="font-size:30px"></i>
                        <!-- Counter - users -->
                        <span class="badge badge-danger badge-counter">{{ users|length -1}}+</span>
                    </a>
                </li>
            {% endif %}
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="paramètre du compte">
                    <span class="fa fa-user" style="font-size:30px"></span>
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="{{ path('user_edit', {'id': app.user.id}) }}">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Déconnexion
                    </a>
                </div>
            </li>

        </ul>
    </nav>
    <!-- End of Topbar-->
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Quitter votre seesion?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Vous allez être déconnecté de votre compte</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                    <a class="btn btn-primary" href="{{ path('app_logout') }}">Deconnexion</a>
                </div>
            </div>
        </div>
    </div>
    <!-- formule Modal-->
    <div class="modal fade" id="formuleModale" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Envie de plus d'espace?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  action="{{ path('topbar') }}" method="post">
                        <fieldset>
                            <legend>Votre formule actuelle:</legend>
                            <div class="form-group row">
                                {% for maFormule in app.user.choixFormules %}

                                    <div class="col-sm-10">
                                        <label class="form-check-label col-3 ">
                                            <input class="form-check-input " type="radio"  checked="" disabled="" >
                                            {{ maFormule.formule }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                            <fieldset class="form-group">
                                <legend>Formules disponibles</legend>
                                <div class="form-check row">
                                    {% for formule in formules %}
                                        <label class="form-check-label col-3">
                                            <input class="form-check-input" value="{{ formule.libelle }}" name="formule" type="radio">
                                            {{ formule.libelle }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Modifier</button>
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Annuler</button>
                </div>
                </form>
            </div>
        </div>
    </div>
<!--fin modal formule-->


{% endblock %}

</body>
