{% extends 'base.html.twig' %}

{% block title %}Fichier index{% endblock %}

{% block body %}
    <h1>Fichier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Date</th>
                <th>Taille</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fichier in fichiers %}
            <tr>
                <td>{{ fichier.id }}</td>
                <td>{{ fichier.Libelle }}</td>
{#                <td>{{ fichier.date ? fichier.date|date('d-m-y') : '' }}</td>#}
                <td>{{ fichier.taille }}Mo</td>
                <td>
                    <a href="{{ path('fichier_show', {'id': fichier.id}) }}">show</a>
                    <a href="{{ path('fichier_edit', {'id': fichier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fichier_new') }}">Create new</a>
{% endblock %}
