<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sandstone/bootstrap.min.css">
            <!-- Custom fonts for this template-->
            <link rel ="stylesheet" href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}">
            <link rel ="stylesheet" href="{{ asset('css/sb-admin-2.min.css') }}">
            <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
                    rel="stylesheet">
        {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    </head>

    <body
         {#    si le fichier est supérieur a l'espace disponible on ouvre la modal#}
         {% for formule in app.user.getChoixformules %}
            {% if formule.getTailleDisponible() <=0.90 %}
                 onload="modifier_formule()"
            {% endif %}
        {% endfor %}
        {#fin ouverture de la modal#}
    >
        <div id="wrapper">
            <!-- Sidebar -->
        {{ render(path('sidebar')) }}
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <!-- Topbar -->
                    {{ render(path('topbar')) }}
                    {#                    les messages flash#}
                    {#  memory error#}
                    {% for flash_message in app.session.flashBag.get('error_memory') %}
                        <div class="alert alert-danger" role="alert" align="center" onload="modifier_formule(e)">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                    {#                    email send#}
                    {% for flash_message in app.session.flashBag.get('email_send') %}
                        <div class="alert alert-success" role="alert" align="center">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                    {% for flash_message in app.session.flashBag.get('error_login') %}
                        <div class="alert alert-success" role="alert" align="center">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
{#                    fin messages flash#}
                    {% block body %}{% endblock %}
                    {% block javascripts %}
{#                script pour ouvrir la modal
 cas de memoire insuffisante#}
                        <script >
                        function modifier_formule(){
                            $("#formuleModale").modal('show');
                        }
                        </script>
                        <!-- Bootstrap core JavaScript-->
                        <script src="{{ asset('vendor/jquery/jquery.min.js') }}">
                            $('.dropdown-toggle').dropdown();
                        </script>
                        <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
                        <!-- Core plugin JavaScript-->
                        <script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
                        <!-- Custom scripts for all pages-->
                        <script src="{{ asset('js/sb-admin-2.min.js') }}"></script>
                        <!-- Page level plugins -->
                        <script src="{{ asset('vendor/chart.js/Chart.min.js') }}"></script>
                        <!-- Page level custom scripts -->
                        <script src="{{ asset('js/demo/chart-area-demo.js') }}"></script>
                        <script src="{{ asset('js/demo/chart-pie-demo.js') }}"></script>
                    {% endblock %}
                </div>
             </div>
        </div>
        <!-- Footer -->
        <footer class="sticky-footer " style="position: absolute;  bottom: 0;  width: 100%;  margin-top: 50px;">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span style="color: white">Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </body>
</html>
