{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Espace disponible</th>
                <th>formule</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.choixformule.tailledisponible}}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{#    <div class="progress">#}
{#        {% set values =   taille_disponible*100/taille_formule %}#}
{#        <h4 class="small font-weight-bold">#}
{#                <span class="float-right">#}
{#                    {{ values }}%#}
{#                </span>#}
{#        </h4><br>#}
{#        <div class="progress-bar progress-bar-striped progress-bar-animated#}
{#                    {% set values =   taille_disponible*100/taille_formule %}#}
{#                    {% if  values>26 and values<70  %}#}
{#                    bg-warning#}
{#                    {% elseif values <25 %}#}
{#                    bg-danger#}
{#                    {% else %}#}
{#                     bg-success#}
{#                    {% endif %}#}
{#                   " role="progressbar" style="width: {{ taille_disponible*100/taille_formule }}%"#}
{#             aria-valuenow={{ taille_disponible }} aria-valuemin="0" aria-valuemax="{{taille_formule }}" title="il vous reste {{ taille_disponible }}Mo"></div>#}
{#    </div>#}
{#    <a href="{{ path('user_new') }}">Create new</a>#}
{% endblock %}
